h1{
    color: rebeccapurple;
    text-transform: uppercase;
}


article p:first-child{
    color: red;
    font-size:20px;
    font-weight: bold;
}

article p:last-child{
    font-weight: bold;
    color: green;
}